table {
    width: 400px
}

th, td, caption {
    text-align: center;
}

table, th, td {
    border:1px solid #000;
}

/*table data formatting*/


th {
    background-color: yellow;
}

td {
    background-color: lightpink;
}

